.App {
  text-align: center;
background-color: rgb(238, 213, 213);  
}

.app_form {
  padding: 20px;
  position: fixed;
 bottom: 0;
 z-index: 1;
 background-color: #bb6548;
 width: 90%;
 margin: 20px;

}
.app_formControl{
  display: flex !important;
  flex-direction: row !important;
  /* as meterial ui is overriding it  */
}
.app_iconButton {
  flex:0;
  color: white !important;
}
.app_input{
  flex :1;
  color: white !important;
}